@media only screen and (min-width: 600px) {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  main {
    background-color: #171717;
    color: #dfdfdf;
    font-family: 'Solway';
  }

  header {
    background-color: #00aeee;
  }

  header h1 {
    font-size: 2em;
    padding: .5em;
  }

  .navbar div {
    background-color: #282828;
  }

  .desktop-nav {

  }

  .injected-suggested-recipes {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .recipe-card {
    width: 400px;
    font-size: 1.2em;
  }

  .recipe-card-active {
    width: 80%;
  }

  .navbar-toggle {
    display: none;
  }
}
