*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: #171717;
  color: #dfdfdf;
  font-family: 'Solway';
}

header {
  background-color: #00aeee;
}

header h1 {
  font-size: 2em;
  padding: .5em;
}

.navbar div {
  background-color: #282828;
}

.navbar-toggle {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  color: #171717;
  font-size: 2em;
}

.main-nav {
  display: none;
  background-color: #282828;
  color: #dfdfdf;
  list-style-type: none;
}

.main-nav li {
  font-size: 1.25em;
  text-align: right;
  margin: 0
  .5em;
  padding: .5em;
}

.search-bar {
  font-size: 1em;
  width: 50%;
}

.recipe-group {
  margin: 0 1em;
}

.recipe-group h2 {
  font-weight: 300;
  padding: .5em;
}

.recipe-card {
  align-items: center;
  background-color: #282828;
  border: 3px #dfdfdf solid;
  border-radius: .5em;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.25em;
  justify-content: flex-start;
  margin: .5em auto;
  transition: all .3s linear;
}

.recipe-card-active {
  height: 82vh;
  overflow: scroll;
}

.recipe-card-active .recipe-header {
  background-color: #5e5e5e;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.recipe-card img {
  border-radius: 1em;
  object-fit: cover;
  padding: .5em;
  width: 100%;
}

.button-wrapper {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-self: flex-end;
  width: 10%;
}

.buttons {
  background-color: #171717;
  border-left: 4px #dfdfdf solid;
  color: #dfdfdf;
  font-size: 1.55em;
  padding: 17%;
  width: 100%;
}

.favorite-recipe {
  border-radius: 0 .2em 0 0;
}

.favorite-recipe-active {
  background-color: #eec200;
  color: #171717;
}

.current-recipe {
  border-radius: 0 0 .2em 0;
}

.current-recipe-active {
  background-color: #ee1000;
  color: #171717;
}

.recipe-header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.recipe-header h3 {
  font-size: 1em;
  padding: .25em;
  width: 100%;
}

.recipe-content {
  display: flex;
  flex-flow: column nowrap;
}

.recipe-ingredients,
.recipe-directions {
  margin: auto;
  padding: .5em;
  width: 80%;
}

.recipe-ingredients li,
.recipe-directions li {
  padding: .25em;
}

.hidden {
  display: none;
}

.active {
  display: block;
}
