html { 
    font-family: Gill Sans, sans-serif;
}

.top-sec {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid;
    border: rgb(50, 77, 228);
    border-style: solid;
    /* background: linear-gradient(white, #998e92); */
    background-color: rgb(223, 213, 220);
}

.welcome-user {
    font-size: 25px;
    text-align: center;
    padding: 25px
}

h1 {
    text-align: center;
    font-size: 40px;
}

.search-area {
    padding: 15px;
}

.search-button {
    width: 40px;
    height: auto;
}

.search-box {
    height: 40px;
    padding-top: 25px;
}

.hidden {
    display: none;
}


.header {
    background: black;
    height: 100px;
}

.column-left,
.column-right,
.column-center {
	align-items: center;
	float: left;
	height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.column-left {
    align-items: center;
	float: left;
	height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.column-left,
.colum-right {
	background: linear-gradient(white, #b39f94);
    width: 25%;
    height: 100vh;
}

.column-center {
	background: white;
	width: 50%;
}

.pantry {
	display: grid;
	height: 500px;
    width: 250px;
}

.pantry {
    border: double black;
    grid-row: auto;
    grid-template-columns: 3;
}