* {
  /* border: solid;
  border-width: thin;
  border-color: red; */
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: Verdana, sans-serif;
}

h1 {
  font-size: 2em;
}

.navigation {
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
  border-color: black;
  padding: 20px 20px;
}

/* .navigation-buttons {
  width: 100%;
} */

.button {
  margin: 0px 20px 0px 0px;
  font-size: 1.3em;
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: #e3f086;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 480px) {
  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .button {
    width: 95%;
    margin: 10px;
  }
}
