* {
  border: 1px red solid
}

/* <---------- BODY ----------> */
body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
}

.recipe-cards {
  display: flex;
  flex-direction: row;
  align-items: center;    
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 10rem;
}

img {
  height: 250px;
  width: 250px;
}

/* <---------- MODAL ----------> */
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  width: 35rem;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0, 0.2);
  text-align: center;
}

.modal h1 {
  margin: 0
}

.modal p {
  font-size: 1rem;
  opacity: 0.7;
}

.close {
  background-color: lightgray;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

/* <---------- FILTER BOX ----------> */
.filter-article {
  flex-direction: column;
  margin-top: 2rem;
  height: 16.6rem;
  width: 9rem;
  position: fixed;
  top: 0;
}

/* <---------- NAV BAR ----------> */
nav{
  width: 100%;
  flex-wrap: wrap;
  height: 2rem;
  background: rbga(0,0,0,.8);
  border-top: 1px solid rgba (255,255,255,.2);
  border-bottom: 1px solid rgba (255,255,255,.2);
  padding-top: 1rem;
  position: sticky; 
  top: 0;
  /* position:fixed; */
  z-index:10;
  background:inherit;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0 2rem;
  float: right;
}

nav ul li {
  list-style: none;
  color: black;
  padding: 0 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1rem;
}

nav ul li:hover,
nav ul li.active {
  background: black;
  color: #fff;
}

.hidden {
  display: none
}
