body {
  background: white;
  background-size: cover; 
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.user-info{
  padding-left: 2vw;
}

.home-button, .saved-recipe-button{
  margin-left: 10px;
}

.button-container{
  padding-right:0;
  display: flex;
  justify-content: flex-end;
  width: 20vw;
}

h1 {
  display: flex;
  background: #EDBEBE;
  height: 15vh;
  color: white;
  margin: 0;
  align-items: center;
  justify-content: center;
}

h2 {
  color: black;
  padding-left: 2vw;
}

nav {
  height: 7vh;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2vw;
}

.bottom-section {
  display: flex;
  width: 100vw;
}

.tag-section, .ingredient-section {
  width: 25vw;
  margin-right: 15px;
  background: #E3D3D3;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  padding-top:2vh;
}

ul {
  margin-top:0;
}

.filter {
  padding-top: 12px;
}

.main, .favorite {
  width: 75vw;
  min-height: 100vh;
  background: #E3D3D3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe {
  width: 75vw;
  min-height: 100vh;
  background: #E3D3D3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions{
  width:35vw;
  height: fit-content;
  background: white;
  text-align: center;
}

h2 {
  padding-left: 0;
}

.total-cost {
  width:20vw;
  height: fit-content;
  background: white;
  text-align: center;
}

.recipe-info {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
}

img{
  height: 20vw;
  width: 20vw;
}

button {
  font-size: 1.25em;
  background: #9E8989;
  color: white;
  border-radius: 5px;
  border: none;
}

.fullwrap {
  position: relative;
}
 
.fullcap {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  text-align: center;
  padding-top: 50%;
  background-color: rgba(235, 226, 226, 0.7);
  color: #914b4b;
  visibility: none; opacity: 0;
  transition: opacity 0.3s;
}
 
.fullwrap:hover, .fullcap:hover {
  visibility: visible; 
  opacity: 1;
}

.hidden {
  display: none;
}