h1 {
  margin: .3em auto;
}

body {
  margin: 0px;
  box-sizing: border-box;
}

nav {
  align-items: center; 
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding: 2em 0em;
  width: 100%;
}

.nav-buttons {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  width: 20em;
}

input {
  border-radius: 10%;
  border-style: solid;
  height: 2em;
  width: 20em;
}

button {
  background-color: white;
  border: none;
  height: 2em;
}

.search-field {
  align-content: center;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  margin: 0em 2em 0em 0em;
  justify-content: flex-end;
  width: 20em;
}

.all-recipes-display,
.favorite-recipes {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-self: center;
  margin-top: 2em auto;
  overflow: scroll;
  max-width: 100%;
}

.recipe-card {
  background-size: cover;
  border-radius: 5%;
  height: 15em;
  width: 20em;
  padding: .5em;
  margin: 2em;
}

.recipe-card-nav {
  display:flex;
  justify-content: center;
  margin: .3em auto;
}

.body-blackout {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1000%;
  z-index: 9;
  background: black;
  opacity: .65;
}

.recipe-pop-up {
  background: #fff;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  height: 80%;
  left: 20%;
  position: absolute;
  top: 8em;
  width: 60%;
  z-index: 10;
}

.recipe-img {
  margin-top: 0px;
  width: 100%;
}

.recipe-info {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.ingredient-check,
.exit-button {
  border: 1px solid;
  margin: .3em auto;
  width: 18em;
}

.instructions,
.ingredients {
  padding: 0em 1.5em
}

.ingredients {
  width: 20%;
}

.instructions {
  border-left: 1px solid;
}

.generated-message {
  margin: 0em auto;
  width: 85%;
}

.card-info {
  display: flex; 
  color: #fff;
  font-size: 2em;
  justify-content: left;
  margin: .5em;
  width: 80%;
}

.star-icon {
  height: 1em;
  width: 1em;
}

.user-window {
  display: flex;
}

.users-pantry {
  height: 10em;
  font-size: 2em;
  padding: 1em 5em;
  
}

.supply-list {
  border: 1px solid;
  border-radius: 5%;
  height: 15em;
  font-size: 1em;
  margin-top: .5em;
  overflow: scroll;
  padding: 1em;
  width: 10em;
}

.users-recipes-display {
  width: 65%;
}

.hidden {
  display: none;
}



