body, html {
  background-color: #ebebeb;
  min-height: 100vh;
  margin: 0;
}

* {
  font-family: Poppins;
}

h1 {
  font-size: 40px;
  color: black;
}

nav {
  overflow: hidden;
  background-color: #aabda5;
  height: 100px;
  width: 1000px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around
}

button {
  font-size: 15px;
  border-radius: 25px;
  cursor: pointer;
  height: 45px;
  width: 300px
}

input {
  border-radius: 15px;
  height: 45px;
  width: 300px
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 30vh
}

.recipe-info {
  background-color: white;
  height: 150px;
}

article {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  height: 70vh;
  width: 100%
}

main {
  display: flex;
  justify-content: center;
}

.recipe-info {
  display: flex;
  text-align:left;
  flex-direction: column;
  padding-left: 10px;

}

.recipe-wrapper {
  display: flex;
  flex-direction: column;
}

.recipe, .recipe-info {
  width: 300px;
}
