*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.nav-bar {
  display: grid;
  grid-template-columns: 4.8fr 6.2fr;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: rgb(116, 23, 23);
  border-bottom: solid black 1px;
}

.nav-bar-btn {
  display: inline-block;
  background-color: rgb(116, 23, 23);
  cursor: pointer;
  padding-left: 15px;
  border: none;
  height: 79px;
  width: 79px;
}

.nav-bar-btn:hover {
  background-color: rgb(162, 43, 43)
}

.nav-bar-btn:focus {
  outline: yellow;
}

.nav-bar-dropdown {
  background-color: rgb(162, 43, 43);
  position: absolute;
  color: rgb(211, 211, 211);
  margin-top: 80px;
  height: auto;
  width: 350px;
  visibility: hidden;
}

.dropdown-open {
  visibility: visible;
}

.preference-dropdown {
  font-size: 1.3em;
  padding: 8%;
  border-bottom: solid black .5px;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

p, u {
  color: white .25px;
}

.nav-bar-heading {
  display: inline-block;
  align-self: center;
  color: rgb(211, 211, 211);
  font-size: 3.5em;
  font-family: 'Courgette', cursive;
}

.line1, .line2, .line3 {
  width: 75%;
  height: 4px;
  background-color: rgb(211, 211, 211);
  margin: 10px 0;
  transition: 0.4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-12px, 8px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-12px, -8px);
}

.main {
  height: 100%;
  width: 100%;
}

.main-top {
  display: grid;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/food-banner5.jpg')no-repeat center center;
  background-size: cover;
  height: 480px;
  padding-top: 80px;
  border-bottom: solid rgb(211, 211, 211) 2px;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". label ."
    "name category ingredients";
  justify-items: center;
}

.search-wrapper {
  display: inline-block;
  width: 80%;
}

.search-form-label {
  grid-area: label;
}

select {
  cursor: pointer;
}

.search-name {
  grid-area: name;
}

.search-tag {
  grid-area: category;
}

.search-ingredient {
  grid-area: ingredients;
}

.search-box {
  width: 100%;
  height: 20%;
}

.search-form-label {
  color: rgb(211, 211, 211);
  font-size: 3em;
  align-self: center;
}

.search-labels {
  font-size: 1.3em;
  color: rgb(211, 211, 211);
}

.content-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/kitchen-background-3.jpg')no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.recipe-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  grid-row-gap: 20px;
  padding: 0px 100px 0px 100px;
}

.hide-section {
  display: none;

}

.recipe-card {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  border-radius: 10px;
  background-color: #fff;
  width: 400px;
  height: 400px;
  margin: 40px;
  cursor: pointer;
}

.recipe-card-bar {
  display: flex;
  flex-direction: column;
  background-color: #f1e8b7;
  border-radius: 0px 0px 10px 10px;
  border-top: solid black 1px;
  height: 15%;
  /* position: absolute; */
}

.recipe-card-name {
  align-self: flex-start;
}

.recipe-img {
  height: 85%;
  border-radius: 8px 8px 0px 0px;
  /* border: solid black 5px; */
  /* width: auto; */
}

.btns-container {
  align-self: flex-end;
  margin: 0px 5px 5px 0px;
}

.heart-btn {
  background-image: url("../images/favorite.svg");
  height: 30px;
  width: 30px;
  background-color: #f1e8b7;
  border: none;
}

.cook-btn {
  background-image: url("../images/cutlery.svg");
  height: 30px;
  width: 30px;
  background-size: contain;
  background-color: #f1e8b7;
  border: none;
}

.pantry-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.pantry-item {
  border: solid black 1px;
  padding: 30px 300px 30px 300px;
  margin: 3%;
  background-color: #fff;
}

.pantry-item-name {
  display: inline-block;
}

.pantry-item-quantity {
  display: inline-block;
}
