/* 
COLORS::after
#FAF7F0 beige
#CDFCF6 aqua
#BCCEF8 periwinkle
#98A8F8 purple
*/

* {
  background-color: #FFF;
}

/* HEADER */

.main-header {
  align-items: center;
  background: none;
  border: solid 2px #CD104D;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
}

#searchBar {
  border-radius: 10px;
  height: 5vh;
  justify-items: center;
  margin-top: 13px;
  margin-right: 20%;
  width: 20vw;
}

.header-button {
  height: 5vh;
  width: 9vw;
  background-color: #ffeef2;
  border-radius: 5px;
  color: #FF6363;
  cursor: pointer;
  margin-top: 13px;
  margin-right: 5%;
}

.header-button:hover {
  text-decoration: underline;
  background-color: #CD104D;
  color: white
}

/* MAIN */
/* .whole-page-container {
  display: flex;
  flex-direction: column;
} */

.home-view {
  display: flex;
  height: 100%;
  justify-content: space-between;
  /* overflow: scroll; */
  width: 100%;
}

.main-left-side {
  display: flex;
  height: 25vh;
  justify-content: space-around;
  margin-top: 10%;
  width: 65vw;
  margin-bottom: 10%;
}

.left-side-first-recipe {
  display: flex;
  flex-wrap: wrap;
  height: 30vh;
  width: 70%;
}

.left-side-featured-recipe-box {
  background-image: url("https://spoonacular.com/recipeImages/516904-556x370.jpg");
  display: flex;
  height: 50vh;
  background-repeat:no-repeat;
  object-fit: fill;
  width: 80%;
}

.left-side-recipe-name {
  background: none;
  height: 30vh;
  width: 50%;
  display: flex;
  position: relative;
}

.card {
  background: none;
  border: none;
  height: 20vh;
  Width: 8vh;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  
}

.main-right-side-title {
  border-style: solid;
  display: flex;  
}

.middle-card {
  background-image: url("https://spoonacular.com/recipeImages/507921-556x370.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  position: relative;
}

.current-recipe-ingredients{
  font-size: 2.5vh;
}

/* SAVED SECTION */

.saved-section {
  align-items: center;
  background-color: #CD104D;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-left: 5vh;
  margin-right: 0;
}

.right-side-title {
  background-color: #EE6983;
  color: white;
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  height: 4vh;
  width: 20vw;
  margin-top: 2vh;
}

.saved-box {
  background-image:url("https://spoonacular.com/recipeImages/541288-556x370.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  height: 15vh;
  justify-content: flex-end; 
  margin-top: 5%;
  position: relative;
  width: 20vw;
}

.card-footer:hover {
  text-decoration: underline;
  color: blue;
}

/* FOOTER */

.main-footer {
  align-items: flex-start;
  background-color: #FFF;
  border: 2px solid #CD104D;
  bottom: 0;
  display: flex;
  height: 70px;
  justify-content: space-around;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  width: 100%;

}

.subscribe-title {
  border-left: black;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  align-items: flex start;
  justify-content: space-evenly;
  padding-left: 1%;
}

.contact-information {
  border-left: solid 2px #CD104D;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 60px;
  width: 30%;
}

.connect-with-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.all-the-connect-buttons {
  display: flex;
  flex-direction: row; 
}

.button {
  align-items: center;
  background-color: #ffeef2;
  border-radius: 45%;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 4vh;
  justify-content: center;
  margin-left: 15%;
  width: 4vh;
}

.connect-button {
  height: 3vh;
  width: 3vh;
}

.connect-button:hover{
  background-color: #CD104D;
  color: #FFF;
}

.learn-more {
  padding-left: 30px;
  border-left: solid 2px #CD104D;
  display: flex;
  flex-direction: column;
}

.learn-more-title {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 4%;
}

.underline:hover {
  text-decoration: underline;
  color: blue;
}

/* scripts rules*/

.view {
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hidden {
  display: none;
}