* {
  border: aqua 3px solid;
  font-family: Trebuchet, sans-serif;
}

html, body {
  background-color: rgba( 211, 211, 211, 0.7 );
  height: 100vh;
  margin: 0%;  
  width: 100vw;
}

h1 {
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px rgba( 0, 0, 0, 0.6 );
  margin-left: 3rem;
  width: 40%;
}

h2 {
  color: white;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px rgba( 0, 0, 0, 0.6 );
  margin: 0;
  padding-top: 2%;
}

h3 {
  font-size: 100%;
  margin: 0;
  margin-bottom: 5%;
  margin-top: 5%;
  overflow: hidden;
  padding: 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h4 {
  color:white;
  font-size: 36px;
  margin: 0;
  margin-top: 40px;
  text-shadow: 2px 3px rgba( 0, 0, 0, 0.6 );
}

h5 {
  font-size: 20px;
  margin: 0;
  margin-top: 15px;
  text-shadow: 2px 3px rgba( 0, 0, 0, 0.15 );
}

input {
  align-self: flex-end;
  flex-wrap: wrap;
  height: 30px;
  overflow: visible;
  text-align: center;
  text-overflow: ellipsis;
  width: 40px;
  white-space: nowrap;
}

input:focus{
  width: 100%;
  height: 100%;
}

button {
  background-color: rgba( 211, 211, 211, 0.55 );
  border: 1px ridge rgba( 0, 0, 0, 0.4 );
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba( 0, 0, 0 );
  color: rgba( 0, 0, 0, 0.9 );
  margin-top: 2%;
  contain: content;
  text-overflow: contain;
}

button:hover{
  background-color: rgba( 141, 182, 0, 0.65 );
  box-shadow: 0 1px 5px rgba( 0, 0, 0 );
  color: rgb( 0, 0, 0 );
  cursor: pointer;
}

button:active {
  box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.9 );
  transform: translateY( 1px );
}

.nav-bar {
  background-image: linear-gradient(rgba( 0, 0, 0, 0.4 ),rgba( 0, 0, 0, 0.4 ) ), url( './images/nav-background.jpg' );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 1px 6px rgba( 0, 0, 0, .75 );
  contain: content;
  display: flex;
  flex-direction: column;
  float: inline-start;
  height: 29vh;
  margin: 0%, 0%, 0%, 0%;
  position: fixed;
}

.nav-search-container, .nav-input-search-container {
  display: flex;
  align-self: baseline;
  justify-content: flex-end;
  margin: 0px;
  width: 100vw;
}

.search-button {
  display: flex;
  align-self: flex-end;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 0px;
  height: 3vh;
  margin-right: 4%;
  width: 1vw relative;
}

.recipe-search {
  border: 1px solid gray;
  height: 3vh;
  width: 33vw;
}

.nav-button-container {
  display: flex;
  align-content: space-between;
  align-items: center;
  align-self: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 30%;
}

.grid-container {
  background-color: rgba( 211, 211, 211, 0.7 );
  display: flex;
  height: auto;
  width: auto;
}

.recipe-container, .recipe-grid-container {
  background-color: rgba( 211, 211, 211, 0.7 );
  display: flex;
  flex-wrap: wrap;
  flex-grow: initial;
  gap: 1%;
  justify-content: space-around;
  padding: 2%;
  padding-top: 35vh;
  z-index: 10;
}

.recipe-card {
  background-color: white;
  border: 1px  solid rgba( 0, 0, 0, .45 );
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba( 0, 0, 0, .75 );
  flex-wrap: wrap;
  height: 65vh fixed;
  margin-bottom: 3%;
  margin-top: 2%;
  text-align: center;
  padding: 15px;
  width: 20vw;
}

.recipe-card:hover {
  box-shadow: 0 1px 10px rgba( 0, 0, 0 );
}

.recipe-image {
  border-radius: 10px;
  height: 45vh;
  margin-left: 0;
  margin-right: 0;
  width: 18vw;
}

.recipe-modal {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: none;
  height: 90%;
  left: 50%;
  position: fixed;
  text-align: center;
  transform: translate( -50%, -50% );
  top: 50%;
  width: 70%;
  z-index: 10;
}

.recipe-modal.is-open {
  display: flex;
  height: 55vh fixed;
  justify-content: center;
  width: 33vw;
}

.recipe-modal:active {
  transform: (-50%, -50%) scale(1);
}


.overlay:active {
  opacity: 1;
  pointer-events: all;
}

.ingredient-and-direction-container {
  display: flex;
  background-color: rgba( 211, 211, 211, 0.55 );
  border: 1px solid rgba( 0, 0, 0, 0.7 );
  background-image: linear-gradient( rgba( 0, 0, 0, 0.4 ),rgba( 0, 0, 0, 0.4 ) ), url( './images/nav-background.jpg' );
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px, 0px, 15px, 15px;
  background-size: cover;
}

#modal-1-content {
  background-image: linear-gradient( rgba( 0, 0, 0, 0.4 ), rgba( 0, 0, 0, 0.4 ) ), url( './images/nav-background.jpg' );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
}

.ingredient-list, .cooking-directions {
  background-color: rgba( 255, 255, 255, 0.95 );
  display: flex;
  flex-direction: column;
}

.modal-ingredients, .modal-instructions {
  align-content: center;
  align-items: center;
  background-color: rgba( 255, 255, 255, 0.95 );
  border: 2px solid rgba( 0, 0, 0, 0.5 );
  contain: content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 55vh;
  justify-content: flex-start;
  overflow: clip scroll;
  width: 33vw; 
}

.dish-cost {
  color:white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  text-shadow: 2px 3px rgba( 0, 0, 0, 0.6 );
}

#overlay {
  background-color: rgba( 0, 0, 0, 0.7 );
  bottom: 0;
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#closeModal {
  margin-top: 23px;
}

.hidden {
  display: none;
}
