:root {
  --body-background-color: #F2DEBA;
  --background-color: #4E6C50;
  --text-color: #FAECD6;
  --highlight-color: #1C6758;
  --border-color: #FAECD6;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #F2DEBA;
  padding: 20px;
  width: 100%;
}

.main-header,
.main-elements,
.buttons,
.search-button,
.recipe-section,
.search-container,
.recipe,
.pantry-section,
.pantry__title,
.pantry-list,
.pantry_subtitle,
.modal__overlay,
.modal__title,
.modal__header,
.modal_container_img_ingredients,
.modal_ingredients_container,
.modal_button_container,
.popular-recipe,
#recipe-container {
  display: flex;
}


.main-header {
  border-radius: 25px;
  color: var(--text-color);
  height: 20vh;
  width: 93%;
  background-color: var(--background-color);
  background-size: 100%;
  background-position: center 55%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  justify-content: space-between;
  margin-left: 25px;
}

#recipes-header {
  color: var(--background-color);
}

.title {
  overflow: hidden;
  margin-top: 8vh;
  margin-left: 5vw;
  font-size: 50px;
}

.search {
  width: 100%;
  display: flex;
}

.navigation-section {
  padding: 20px;
  margin-top: 13vh;
  margin-left: 25px;
  border-radius: 25px;
  height: 388px;
  min-width: 170px;
  background-color: var(--background-color);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.buttons {
  margin-top: 10px;
  min-width: 75px;
  flex-direction: column;
  align-items: center;
}

button {
  --c: var(--text-color);
  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
  var(--_g) calc(var(--_p, 0%) - 100%) 0%,
  var(--_g) calc(200% - var(--_p, 0%)) 0%,
  var(--_g) calc(var(--_p, 0%) - 100%) 100%,
  var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  padding: .1em 1.3em;
  font-weight: bold;
  border: none;
  min-width: 170px;
  height: 2.65em;
  margin-bottom: 10px;
  width: 5em;
  color: var(--text-color);
}

button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}

button:active {
  box-shadow: 0 0 9e9q inset #0009;
  background-color: var(--c);
  color: #fff;
}

.search-bar {
  width: 250px;
  height: 30px;
  padding: 5px;
  margin-bottom: 24px;
  cursor: pointer;
  padding-left: 20px;
  border: 3px solid var(--text-color);
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: var(--background-color);
  color: var(--text-color);
}

::placeholder {
  color: var(--text-color);
}

.search-button {
  width: 10px;
  min-width: 10px;
  height: 30px;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  text-align: center;
  color: var(--text-color);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipe-section {
  margin: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  min-width: 400px;
}


.search-container {
  align-items: flex-end;
  margin-right: 30px;
}

.recipe {
  overflow: hidden;
  color: var(--text-color);
  margin-left: 2vw;
  margin-top: 2vh;
  min-height: 260px;
  width: 300px;
  min-width: 150px;
  background-color: var(--background-color);
  border: var(--border-color) 2px solid;
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
}

.pantry-section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  align-content: center;
  flex-direction: column;
  align-items: center;
  width: 93%;
  height: 100%;
}

#pantry-items-container {
  flex-wrap: wrap;
  width: 90%;
}

.pantry {
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-top: 30px;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
  background: var(--highlight-color);
  color: #444;
  border-radius: 5px;
}

.scroll-element {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  animation: primary 3s linear infinite;
}

@keyframes primary {
  from {
    top: 0%;
  }
  
  to {
    bottom: -100%;
  }
}

.pantry__title {
  justify-content: center;
}

.pantry-list {
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
  background-color: var(--highlight-color);
  border: rgba(238, 229, 229, 0.6) solid 1px;
  flex-wrap: wrap;
  border-radius: 3px;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;
  flex-direction: row;
}

.pantry-list>li {
  margin: 3px;
  border: rgba(238, 229, 229, 0.6) solid 1px;
  border-radius: 2px;
  padding: 6px;
}

.pantry_subtitle {
  justify-content: center;
  margin-top: 2vh;
}

.recipe-img {
  height: 200px;
  width: auto;
}

.recipe:hover {
  transform: scale(1.04);
  box-shadow: 0 0 10px rgb(0 0 0 / 0.5)
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal {
  font-family: arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 80%;
  max-height: 100vh;
  min-width: 500px;
  border-radius: 50px;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: rgb(247, 243, 233);
  display: flex
}

.modal__title {
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  color: black;
  box-sizing: border-box;
  text-align: center !important;
  justify-content: center;
  
}

.modal__header {
  justify-content: center;
  align-items: center;
}

.modal_container_img_ingredients {
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.modal_img {
  display: flex;
  align-items: flex-start;
}

.modal_ingredients_container {
  border-radius: 5px;
  width: 35%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal_recipe_instructions {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal__close {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, .8);
  float: right;
  margin-right: 10px;
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, .8);
  border-radius: 2px;
}

.modal_cost {
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal_button_container {
  justify-content: space-around;
  align-items: center;
}

.modal__btn {
  margin-right: 20px;
  font-size: .875rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, .8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}


.hidden {
  display: none;
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.popular-recipe {
  color: var(--text-color);
  margin-left: 2vw;
  margin-top: 2vh;
  height: 350px;
  width: 300px;
  min-width: 100px;
  background-color: var(--background-color);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border: var(--border-color) 4px solid;
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.popular-recipe>img {
  height: 250px;
  width: auto;
}

.small-recipe-text {
  height: 68px;
  width: auto;
  min-width: 100px;
}

#recipe-container {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

#recipes-header {
  margin-right: 50px;
  margin-bottom: 30px;
}

#top-button {
  display: none;
  font-size: 18px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: var(--text-color);
  color: rgb(41, 7, 73);
  padding: 15px;
  border-radius: 10px;
  height: fit-content;
}