* {
  /* border: red solid 1px; */
  font-family: 'EB Garamond', serif;
  color: rgb(0, 120, 190);
}

body {
  background-color: rgb(255, 243, 149);
  height: 100vh;
  width: 100vw;
}

.top-bar {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border-bottom: black solid 5px;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.main-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-evenly;
  width: 100%;
  height: 800px;
  border-right: black solid 5px;
}

/* .right-box {
  display: flex;
  width: 75%;
  width: 100%;
  height: 800px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
} */

.ingredient-card {
  height: 230px;
  width: 600px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  /* align-items: center; */
  align-content: space-evenly;
}

/* .card-image {
  height: 100px;
  width: 100px;
  border: black solid 1px;
  margin: 20px;
} */

img {
  height: 100px;
  width: 100px;
  /* border: black solid 1px; */
  margin: 20px;
}

.view-recipe-button {
  margin: 15px;
  width: 200px;
}

button {
  border-radius: 5px;
  background-color: white;
}

.hidden {
  display: none;
}

.recipe-card {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
  width: 100vw;
  border: black solid 5px;
  margin: 5px;
}

.ingredient-card-wrapper {
  width: 600px;
}

.searched-card-button {
  height: 30px;
  width: 200px;
  border-radius: 10px;
  margin: 5px;
}