* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: #21683d
}

body {
  background-color: #fffbfb;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
}

.main-nav {
  display: flex;
  background-color: #a5db9c;
  width: 100%;
  height: 90px;
  margin-top: 5px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.search {
  display: flex;
  justify-content: row;
  align-items: center;
  background-color: #a5db9c;
  width: 182px;
  height: 28px;
  margin-left: 5%;
}

h1 {
  color: #21683d;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3%;
}

.upper-nav-button {
  width: 191px;
  height: 30px;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #e9f0e7;
  border: 2px solid #3eb23e;
  border-radius: 25%;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
}

.recipe-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: 20px;
  cursor: pointer;
  border: solid green 2px;
  box-shadow: 10px 10px 5px 3px rgb(8, 50, 8);
}

.recipe-title {
  text-align: center;
  font-size: 20px;
}

.recipe-image {
  height: 70%;
  width: 70%;
}

.tag-area {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 75px;
  flex-wrap: wrap;
  margin-left: 30%;
  align-content: space-between;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
}

.tag-card {
  cursor: pointer;
  border: solid green 1px;
  border-radius: 25%;
  box-shadow: 1px 1px 1px rgb(1, 63, 1);
  cursor: hover;
}

.tag-card:hover {
  background-color: #56934a;
}

.tag-active {
  background-color: #d8fcd1
}

.tag {
  border: solid green 1px;
}

/* Recipe cards when clicked */
.recipe-image-blowup {
  height: 200px;
  width: 200px;
}
.recipe-image-section {
  display: flex;
  justify-content: center;
}

.recipe-card-blowup {
  margin-left: 15%;
  margin-top: 5%;
  width: 80%;
  border: solid green 2px;
  box-shadow: 10px 10px 5px 3px rgb(8, 50, 8);
}

#recipeCardTags,
#recipeCardIngredients,
#recipeCardTotalCost,
#recipeCardTitle {
  text-align: center;
}

.icon {
  height: 30px;
  width: 30px;
}

.close {
  margin-left: 91%;
}

/* Hidden Property */
.hidden {
  display: none;
}
