* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

h1 {
  font-family: "Cedarville Cursive";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 1.8rem;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: flex-start;
  justify-content: center;
  height: 750px;
  width: 80%;
  overflow-y: scroll;
  font-weight: bolder;
  padding-top: 2em;
}

.recipe-card {
  display: flex;
  flex-direction: column;

  background-color: white;
  border: 2px #d9dadd;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

  border-radius: 35px;
}
.recipe-card:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.title-recipe {
  width: 250px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding: 1.25em;
}

.title-recipe:hover {
  cursor: pointer;
}

img {
  height: 200px;
  width: 250px;
  border-radius: 15px;
}

img:hover {
  cursor: pointer;
}

.view-saved {
  height: 50px;
  width: 200px;
}

button:hover {
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(144, 147, 149, 0.5);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}

.open-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background-image: linear-gradient(
      rgba(15, 15, 15, 0.2),
      rgba(15, 15, 15, 0.2)
    ),
    url(https://spoonacular.com/recipeImages/595736-556x370.jpg);
  background-size: cover;
  color: white;
  width: 90vw;
  opacity: 0.95;
  height: 60vh;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.close-btn:hover {
  transform: scale(1.3);
}

.modal-container {
  display: flex;
  justify-content: space-between;
}

.modal-title-directions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50vw;
  height: 60vh;
  overflow-y: auto;
}

.modal-tags {
  display: flex;
  flex-direction: column;
  width: 10vw;
}

ul {
  list-style-type: none;
}

.modal-ingredients-cost {
  width: 30vw;
  height: 60vh;
  overflow-y: auto;
}

.modal-directions {
  overflow-y: auto;
}

.btn {
  height: 20px;
  width: 100px;
}

.btn:hover {
  transform: scale(1.1);
}

.tag-buttons {
  display: flex;
  overflow-x: auto;
  width: 775px;
  gap: 50px;
  background-color: white;
  border: 2px dotted #d9dadd;
  padding: 10px;
  border-radius: 35px;
}

p {
  text-align: center;
}

.save-recipe-btn {
  margin: 10px;
  width: 120px;
  height: 35px;
  background-color: #d9dadd;
  border: none;
  border-radius: 100rem;
  padding: 0.8rem;
  font-size: 0.8rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
.save-recipe-btn:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.input-name {
  background-color: #d9dadd;
  border: none;
  border-radius: 100rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  width: 30rem;
}
.input-name::placeholder {
  font-size: 15px;
}
.input-ingredient::placeholder {
  font-size: 15px;
}

.input-ingredient {
  background-color: #d9dadd;
  border: none;
  border-radius: 100rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  width: 30rem;
}

.title-recipe {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
}

.view-saved {
  background-color: #d9dadd;
  border: none;
  border-radius: 100rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  width: 15rem;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

.view-saved:hover {
  background-color: #cccccc;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.tag-btn {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  margin: 2px;
  filter: grayscale(60%);
}

tag-btn:hover {
  cursor: pointer;
}

.tag-btn:hover {
  background-color: #cccccc;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.food-icon {
  height: 20px;
  width: 20px;
}

.modal-title {
  margin-top: 100px;
  font-size: 48px;
}

.modal-cost {
  font-size: 24px;
  margin-top: 100px;
  margin-bottom: 20px;
  font-weight: 300;
}

.modal-container {
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 50px;
  padding-bottom: 50px;
  gap: 100px;
}

.modal-ingredients-list {
  margin-top: 20px;
}

.modal-ingredients {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.modal-directions {
  font-size: 32px;
}
.modal-directions-list {
  font-size: 24px;
}

.modal-tags {
  font-size: 24px;
}

li {
  font-weight: 300;
  text-align: left;
}

.bold {
  font-weight: bold;
}

.choose-currency {
  font-size: 14px;
}

.is-saved {
  background-color: #89ce94;
}

.is-not-saved {
  background-color: #e5e7e9;
}