* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #a0924d;
  padding: 20px;
  width: 100%;
}

#top-button {
  display: none;
  font-size: 18px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: rgb(240, 235, 235);
  color: white;
  padding: 15px;
  border-radius: 10px;
}

.main-header {
  border-radius: 25px;
  color:#fa5e09;
  height: 25vh;
  width: 98.5%;
  background-color: #FAF6F2;
  background-image: url(https://images.pexels.com/photos/2284166/pexels-photo-2284166.jpeg);
  background-size: 100%;
  background-position: center 55%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}

.title {
  margin-top: 5vh;
  margin-left: 20px;
  font-size: 50px;
}

.search {
  width: 100%;
  position:relative;
  display:flex;

}

.main-elements {
  display: flex;
}

.navigation-section {
  padding: 20px;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 25px;
  height: 58vh;
  min-width: 170px;
  background-color: #FAF6F2;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.buttons {
  margin-top: 10px;
  min-width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  --c:  #61567B;
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
  var(--_g) calc(var(--_p,0%) - 100%) 0%,
  var(--_g) calc(200% - var(--_p,0%)) 0%,
  var(--_g) calc(var(--_p,0%) - 100%) 100%,
  var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  padding: .1em 1.3em;
  font-weight: bold;  
  border: none;
  min-width: 200px;
  height: 5vh;
  margin-bottom: 10px;
}

button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}

button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

.search-bar {
  size: 200%;
  margin-right: 30px;
  width: 250px;
  height: 30px;
  padding: 5px;
  margin-bottom: 24px;
  cursor: pointer;
  padding-left: 20px;
  border: 3px solid  #61567B;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.search-button {
  width: 10px;
  height: 30px;
  border: 1px solid #61567B;
  background: #61567B;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;

}
.recipe-section {
  display: flex;
  margin: 40px 20px 20px 20px;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pantry-section {
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transform: translate(-50%);
}

.recipe {
 height: 250px;
  width: 250px;
  background-color: rgba(255, 255, 255, .2);
  border: white 2px solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.recipe-img {
  width: 200px;
  height: auto;
}

.recipe:hover {
  transform: scale(1.04);
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}
.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 80%;
  max-height: 100vh;
  min-width: 500px;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  /* -webkit-appearance: button; */
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}