html {
  margin: 0;
  background-image: linear-gradient(#33322e, white);
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

h1, h2 {
  color: white;
  margin: 0;
  padding-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 5px;
}

.all-recipes {
  display: flex;
  /* background-color: #D0D0D0; */
  height: 100%;
  width: 90%;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.button-styling {
color: black;
text-transform: uppercase;
background: #ffffff;
padding: 20px;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
outline: none;
}

.button-styling:hover {
  color: white;
border-radius: 50px;
background: black;
/* border-color: #494949; */
transition: all 0.3s ease 0s;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.button-spacing {
 margin-right: 10px;
}

.random-recipe, .all-recipes-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-recipe-button {
  height: 10%;
  width: 10%;
}

.all-recipes-images {
  height: 10%;
  width: 10%;
  margin: 10px;
  position: relative;
}

.hidden {
  display: none;
}

.recipe-card {
  display: block;
  text-align: center;
}

.random-recipe-name {
  font-size: 26px;
}

.card-text {
  margin-bottom: 1em;
}

.recipe-name {
  font-size: 43px;
  margin-top: 1em;
}

.recipe-ingredients {
  font-size: 26px;
}

.recipe-cost {
  font-size: 22px;
  font-style: bold;
}

.recipe-instructions {
  font-size: 19px;
  font-weight: bold;
}

.recipe-cooked-text {
  font-size: 25px;
  text-align: center;
}

.pantry-text {
  font-size: 25px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

@media screen and (max-width: 1000px){
  html{
    background-image: linear-gradient(#b8b2b2, #b8b2b2);
    /* background-image: white; */
    font-family: 'Nunito', sans-serif;
  }

  .button-spacing {
    margin: 0;
  }


  .dropdown-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .all-recipes-images {
    height: 25%;
    width: 25%;
    margin: 10px;
    position: relative;
  }
}
