body {
  background: linear-gradient(#134d71,#78a7c6,#f7e4bf);
  min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;

}
.main-title {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-content: center; */
}

  .topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 20px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 100px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    margin-left: 40px;
  }
.topnav > button {
  margin-left: 10px;
}
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, 
    .topnav input[type=text], 
    .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
      
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }

.featured-recipes {
  display: flex;
  justify-content: center;
  
}

.whats-cookin-header{
  margin-left: 600px;
}

.featured-recipes-header {
  margin-top: 150px;
  margin-bottom: 0px;
  margin-left: 500px;
}

.featured-recipe-box1, 
.featured-recipe-box2, 
.featured-recipe-box3 {
  display: flex;
  border-color: black;
  border: solid 2px;
  background-color: white;
  height: 300px;
  width: 300px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 80px;
}




  .hidden {
    display: none !important;
  }