*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  border: solid black 2px;
}

.nav-bar {
  display: grid;
  grid-template-columns: 4.8fr 6.2fr;
  width: 100%;
  height: 15%;
  border: solid black 2px;
}

.nav-bar-btn {
  display: inline-block;
  background-color: #fff;
  cursor: pointer;
  padding-left: 5px;
  border: none;
  height: 40px;
  width: 45px;
}

.nav-bar-heading {
  display: inline-block;
  align-self: center;
}

.lines {
  width: 85%;
  height: 4px;
  background-color: black;
  margin: 6px 0;
}

.main-top {
  display: grid;
  background: url('../images/main-background.jpg')no-repeat center center;
  background-size: cover;
  height: 400px;
  border-bottom: solid #000000 1px;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". label ."
    "name category ingredients";
  justify-items: center;

}

.search-form {
}

.search-wrapper {
  display: inline-block;
}

.search-form-label {
  grid-area: label;
}

select {
  cursor: pointer;
}

.search-name {
  grid-area: name;
}

.search-tag {
  grid-area: category;
}

.search-ingredient {
  grid-area: ingredients;
}

.recipes-section {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  grid-row-gap: 20px;
  padding: 0px 100px 0px 100px;
}

.recipe-card {
  display: flex;
  flex-direction: column-reverse;
  border: solid black 2px;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  margin: 20px;
  cursor: pointer;
}

.recipe-card-bar {
  display: flex;
  flex-direction: column;
  background-color: #f1e8b7;
  border-radius: 0px 0px 10px 10px;
}

.recipe-card-name {
  align-self: flex-start;
}

.btns-container {
  align-self: flex-end;
  margin: 0px 5px 5px 0px;
}

.heart-btn {
  background-image: url("../images/favorite.svg");
  height: 30px;
  width: 30px;
  background-color: #f1e8b7;
  border: none;
}

.cook-btn {
  background-image: url("../images/cutlery.svg");
  height: 30px;
  width: 30px;
  background-size: contain;
  background-color: #f1e8b7;
  border: none;
}
