* {
  font-family: 'Noto Serif Ahom', serif;
}

body {
  background-color: #548c2f;
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: space-between;
  margin: 0;
  overflow: hidden;
  width: 100vw;
}

.skip-link {
  left: 50%;
  font-size: 20pt;
  background-color: #548c2f;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-link:focus {
  transform: translateY(0%);
}

nav {
  align-items: center;
  background: rgb(0, 67, 0);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navTitle {
  color: white;
  font-family: 'Lobster', Lobster;
  font-size: 6rem;
  margin: 0px;
  padding-left: 1%;
}

.navBarInteractions {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding-right: 1%;
  width: 15%;
}

.navButtons {
  display: flex;
  gap: 0.75rem;
  height: 20%;
  justify-content: flex-end;
  width: 100%;
}

.navButtons > button,
.searchBar {
  border: none;
  border-radius: 4px;
  font-size: clamp(0.5rem, 1.2vw, 2vw);
  min-width: 30%;
}

button {
  background-color: white;
  color: #5f4a48;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  text-transform: uppercase;
}

main {
  align-items: center;
  display: flex;
  height: 66vh;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100vw;
}

button:hover {
  background-color: #333;
  color: #fff;
}

.cardSection {
  display: flex;
  gap: 1rem;
  height: 95%;
  justify-content: center;
  width: fit-content;
}

.title-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
}

.chef-hat {
  -webkit-filter: drop-shadow(-5px -5px 5px rgb(255, 255, 255));
  width: 15%;
  height: auto;
}

.card {
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 20vw;
}

.cardBack {
  overflow-x: hidden;
  overflow-y: scroll;
}

.notes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 20vw;
  border-radius: 15px;
  height: 60vh;
  background-color: #f1f1f1;
  z-index: 1;
  gap: 1rem;
}

.notesInput {
  width: 75%;
  border-radius: 5px;
}

.closeNotes {
  border: 0;
  height: 50px;
  width: 50px;
  background: transparent;
  font-size: 2.1rem;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card > img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 60%;
  width: 100%;
}

.saveRecipeButton,
.notesButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 10px;
  border: 0;
  border-radius: 25px;
  color: white;
  background: #f39584;
  box-shadow: 0px 5px 15px rgb(0 0 0);
}

.notesButton {
  background: #CACFD6;
  color: white;
}

.saveRecipeButton {
  right: 10px;
  text-shadow: 1px 1px 2px black;
  font-size: 1.75rem;
}

.notesButton {
  left: 10px;
  font-size: 1.6rem;
  text-shadow: 1px 1px 4px black;
}

.submit {
  background: #5f4a48;
  border: 0;
  border-radius: 10px;
  color: white;
}

.savedRecipe,
.savedRecipe:hover {
  color: red;
}

.foodTitle {
  color: #5f4a48;
  font-size: 1.3vw;
  margin: 0;
  max-width: 25ch;
  text-align: center;
}

.frontStats {
  color: rgb(0, 67, 0);
  display: flex;
  font-size: 1.1vw;
  gap: 2rem;
  justify-content: space-evenly;
  width: 80%;
}

.foodText,
.ingredientsList {
  align-self: flex-start;
  cursor: default;
  margin: 0 0 0 5%;
  padding: 5%;
  width: fit-content;
}

.ingredientsList {
  padding-left: 10%;
}

footer {
  align-items: center;
  background: rgb(0, 67, 0);
  display: flex;
  height: 20vh;
  justify-content: space-around;
  width: 100vw;
}

.filter {
  align-items: center;
  color: white;
  display: flex;
  flex-flow: column;
  height: 100%;
  max-height: 100%;
  width: 15%;
}

.filterHeaders {
  font-family: 'Lobster', Lobster;
  font-size: 1.8rem;
  margin: 10% 0 10% 0;
  padding: 0;
}

.filterItem {
  align-self: flex-start;
  padding-left: 20%;
}

.checkbox {
  border-radius: 20px;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hidden {
  display: none;
}

.prevent-scroll {
  overflow: hidden;
}

