/* WIREFRAME COLORS:

BLACK: rbg(22, 22, 22)
GREEN: rgb(52, 103, 81)
RUST: rbg(200, 75, 49)
BEIGE: rgb(236, 219, 186)
LIGHT BEIGE: rgb(247, 243, 233) */
 

* {
  margin: 0;
  padding: 0;
  /* border: 2px solid black; */
}

/* h1 {
  display: inline-block;
  width: 20%;
  background-color: blueviolet;
} */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: transparent; */
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  border-bottom: 2px solid gray;
  /* border-bottom: 2px solid blue; */
}

.nav-bar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: auto;
 } 

@media(max-width:768px){
  .nav-bar-container {
    width: 100%;
    flex-direction: column;
  }
  header {
    height:auto;
  }
  .header-right-align {
    justify-content: flex-start;
    margin: 15px;
  }
}


.header-left-align {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  gap: 65px;
  /* border-right: 2px solid red; */
}

.header-right-align {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

.featured-recipe {
  display: flex;
  /* margin-top: 100; */
  background-color: yellow;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: auto;
  object-fit: fill;
}

.practice-tile {
  height: 200px;
  width: 200px;
  margin: 10px;
  border: 5px solid black
}

.below-header-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: auto;
  width: 100%;
  /* border: 2px solid red; */
  background-color: aqua;
}

.all-recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  height: auto;
  width: auto;
}

.filter-bar {
  display: flex;
  background-color: purple;
  padding: 5px;
  justify-content: space-around;
}

/* ---------------------- MODAL ---------------------- */

.modal {
  display: none;
  position: fixed;
  background-color: #000000ab;
  height: 100%;
  width: 100%;
}

.modal-grandparent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.modal-parent {
  background-color: rgb(247, 243, 233);
  height: 70%;
  width: 75%;
  overflow: auto;
  overflow-x: hidden;
}

.close-modal-btn {
  float: right;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  padding: 7px;
  padding-right: 20px;
}

.close-modal-btn-container {
  position: fixed;
  width: inherit;
}

.close-modal-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.modal-content-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 45px 43px 50px 50px;
}

.modal-content-parent > * {
  padding: 10px;
}

.modal-content-parent > h1 {
  font-size: 2.5em;
}

.modal-image-ingr-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.modal-image {
  max-height: 322px;
}

.ingr-span {
  display: block;
  text-align: right;
  background-color: white;
  width: 35%;
  padding: 23px;
}

.ingr-span > * {
  padding: 5px;
}

.directions-parent {
  background-color: white;
  padding: 23px;
}

.directions-parent > h2 {
  padding: 7px;
  padding-bottom: 10px;
}

.directions-parent > p {
  line-height: 1.3;
  padding: 7px;
}

.modal.is-open {
  display: block;
}