* {
  /* border: 2px solid green; */
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

body {
background-color: hsl(204deg, 67%, 85%)
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: bolder;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input {
  font-size: 20px;
  background-color: #DDDDDD;
  border: none;
  border-radius: 25px;
  width: 400px;
  padding: 11px;
}

input::placeholder {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 22px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
  height: 750px;
  width: 80%;
  overflow: scroll;
  font-weight: bolder;
  /* background-color: white; */
}

.recipe-card {
  display: flex;
  flex-direction: column;
  background-color:white;
  border: 2px solid black;
  align-items: center;
  border-radius: 35px;
}

.title-recipe {
  width: 250px;
  height: 50px;
  overflow: scroll;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.title-recipe:hover {
  cursor: pointer;
}

img {
  height: 200px;
  width: 250px;
  border-radius: 15px;
}

img:hover {
  cursor: pointer;
}

.view-saved {
  height: 50px;
  width: 200px;
}

button:hover {
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(73, 166, 233, 0.5);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}

.open-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background-image: linear-gradient(
      rgba(15, 15, 15, 0.2),
      rgba(15, 15, 15, 0.2)
    ),
    url(https://spoonacular.com/recipeImages/595736-556x370.jpg);
  background-size: cover;
  color: white;
  width: 90vw;
  opacity: 0.95;
  height: 60vh;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.close-btn:hover {
  transform: scale(1.3);
}

.modal-container {
  display: flex;
  justify-content: space-between;
}

.modal-title-directions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50vw;
  height: 60vh;
  overflow: scroll;
}

.modal-tags {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

ul {
  list-style-type: none;
}

.modal-ingredients-cost {
  width: 20vw;
  height: 60vh;
  overflow: scroll;
}

.modal-directions {
  overflow: scroll;
}

.tag-btn {
  width: 50px;
  height: auto;
}

.tag-btn:hover {
  transform: scale(1.1);
}

.tag-buttons {
  display: flex;
  overflow: scroll;
  width: 775px;
  gap: 50px;
  background-color: white;
  border: 2px solid black;
  padding: 30px;
  border-radius: 35px;
}

p {
  text-align: center;
  font-size: 12px;
}

.save-recipe-btn {
  width: 120px;
  height: 35px;
}
