* {
  /* border: solid green 1px; */
}
*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body,
main {
  background-color: #b7eaf1;
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: 'Poppins', sans-serif;
}

body { 
  min-height: 100vh; 
}

h2 {
  color: #FFFFFF;
  font-size: 1.5vw;
  -webkit-text-stroke-width: 0.04em;
  -webkit-text-stroke-color: rgb(81, 54, 0);
}
/*h1 {

} */

.directory {
  background-color: #35aebe;
  border-right: 0.2vw solid #FFFFFF;
  flex: 1;
  margin-right: 5vw;

}
.directory-title {
  background-color: rgb(0, 120, 139);
  color: #FFFFFF;
  font-size: 2vw;
  text-align: center;
  -webkit-text-stroke-width: 0.04em;
  -webkit-text-stroke-color: rgb(81, 54, 0);
}

.directory-button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 0.2em 0.2em 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1vw;
  line-height: 2em;
  margin: 2vh;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.directory-button:hover {
  background-color: #fff;
}

.directory-button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .directory-button {
    min-width: 120px;
    padding: 0 25px;
  }
}
.main {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.main-toast-section {
  background-image: url("/src/images/shiba-toast.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 2vw;
  border: solid #00B4CC 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
  height: 50vh;
  min-height: 50%
}

.whats-cookin-title {
  background-color: #fbeee0ca;
  border: 0.2vw solid rgb(98, 64, 0);
  border-radius: 0.2em;
  color: rgb(232, 178, 28);
  font-family: 'Leckerli One', sans-serif;
  padding: 1vw;
  position: absolute;
  font-size: 5vw;
  top: 0.3em;
  -webkit-text-stroke-width: 0.03em;
  -webkit-text-stroke-color: rgb(144, 96, 0);
}

.search-by-name-title {
  color: #FFFFFF;
  position: relative;
  display: flex;
  bottom: -0.5em;
  -webkit-text-stroke-width: 0.04em;
  -webkit-text-stroke-color: rgb(81, 54, 0);
}
/*.search-container {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  display: flex;
  bottom: -5em;
} */
.searchTerm {
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 5vh;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 20vw;
  bottom: -3vh;
}

.searchButton {
  width: 3vw;
  height: 5vh;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.side-bar{
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00B4CC;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.close-btn {
  margin-left: 60px;
  display: block;
  padding: 8px 8px 8px 32px;
  position: absolute;
}

.nav-open{
  text-align: left;
  float: left;
}

.shiba-stare{
    height: 3.5vh;
    width: 2vw;
}

.saved-and-shiba-icon{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}


.mini-card-list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.mini-card{
  border: solid #00B4CC 5px;
  border-radius: 20px;
  height: auto;
  width: 100px;
}








/* .overlay {
	background: rgba( 26, 26, 26, 0.7 );
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
} */

.recipe-card{
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
	position: fixed;
  padding: 90px;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}
