* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

header {
  padding: 20px;
}

.title {
  font-size: 8vh;
}

nav {
  background-color:#a92f43;
}

#searchAll {
  margin-top: 15px;
  width: 350px;
  border: none;
  border-radius: 5px;
}

.search-saved-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 20px;
  padding: 0px 0px 10px 70px;
  margin: 0px 10px;
  background: rgb(86, 105, 106);
  border-radius: 0px 0px 10px 10px;
}

.searchSavedTitle{
  font-size: 30px;
  font-family: "apple chancery";
  color: rgb(251, 250, 250);
}

#searchSaved {
  color: black;
  margin-top: 20px;
  width: 350px;
  border: none;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: white;
  padding: 15px;
  display: block;
}

input {
  padding: 10px;
  width: 200px;
}

.recipeOtd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  font-family: "chalkduster", fantasy;
  font-size: 60px;
}

.home-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  gap: 20px;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.recipe-card {
  border: 1px solid #ddd;
  box-shadow: 0 0 8px 0px black;
  padding: 10px;
  text-align: center;
  transition: transform 120ms ease-in; 
}

.recipe-card:hover {
  transform: scale(1.02);
}

.recipe-card img {
  max-width: 100%;
  height: auto;
}

.recipe-name {
  margin-top: 10px;
  font-weight: bold;
}

.hidden{
  display: none;
}

.to-recipe-container {
  display: grid;
  grid-template-areas: 
      "title        title"
      "ingredients  img"
      "instructions instructions";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .5fr 2fr 2fr;
  margin: 10px;
  padding: 20px;
}

.recipe-title-container {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 40px 10px;
  gap: 10px;
}

.recipe-title {
  font-size: x-large;
}

.recipe-cost {
  font-size: medium;
}

.recipe-details {
  font-size: large;
}

.ingredients-container {
  grid-area: ingredients;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recipe-img {
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.instructions-container {
  grid-area: instructions;
  display: flex;
  margin: 10px;
  padding: 20px;
}

.instructions-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.hidden {
  display: none;
}

.userLogin {
  display: flex;
  justify-content: flex-end;
}

.userButton {
  border-radius: 5px 5px 0px 0px;
  background-color: rgb(86 105 106);
  color: white;
  padding: .5vw;
  font-weight: 200;
  font-size: 1vw;
}

.headerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner {
  width: 100vw;
}


.btn {
  border: 1px solid #a92f43;
  background: none;
  padding: 10px 20px;
  font-size: 25px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  color: #ffffff;
}
.btn:hover {
  color: #000000;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn:hover::before{
  height: 180%;
}