* {
  border: 1px red solid
}

/* <---------- BODY ----------> */
body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
}

.images-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 250px;
  width: 250px;
}
/* <---------- FILTER BOX ----------> */
.filter-article {
  flex-direction: column;
  position: sticky;
  top: 0;
}

/* <---------- NAV BAR ----------> */
nav{
  width: 100%;
  height: 2rem;
  background: rbga(0,0,0,.8);
  border-top: 1px solid rgba (255,255,255,.2);
  border-bottom: 1px solid rgba (255,255,255,.2);
  padding-top: 1rem;
  position: sticky; 
  top: 0;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0 2rem;
  float: right;
}

nav ul li {
  list-style: none;
  color: black;
  padding: 0 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1rem;
}

nav ul li:hover,
nav ul li.active {
  background: black;
  color: #fff;
}


/* header {
  display: flex;
  padding: 10px 100px;
  box-sizing: border-box;
} */
