body, html {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  width: 100%;
}

nav {
  background-color: black;
  color: white;
  height: 75px;
  /* position: fixed; */
  position: absolute;
  top: 0;
  width: 100%;
  /* z-index: 1; */
}


header {
  cursor: pointer;
  display: inline-block;
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 5px;
  font-family: 'Dancing Script', cursive;
}

input {
  margin: 0;
}

footer {
  width: 100%;
  color: white;
  background-color: black;
  height: 150px;
  text-align: center;
  padding-top: 50px;
  /* position: absolute; */
  margin-bottom: 0;
  /* flex-shrink: 0; */
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 60%;
    margin: 0px auto;
}

table tr {
    background: white;
    border-bottom: 1px solid
}

table th,
table td {
    padding: 10px 20px;
}

table td span {
    display: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
}


.recipe-ingredients {
  margin: 50px 50px 50px 20px;
  width: 40%;
}

.instructions {
  margin: 0px 50px 50px 20px;
  width: 40%;
}

.nav-bar-buttons {
  display: flex;
  flex: 1;
  float: right;
  margin-top: 25px;
}

.nav-bar-buttons li {
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  list-style-type: none;
  padding: 0px 20px;
  text-decoration: none;
}

.logo {
  height: 76px;
  width: 50px;
}

.featured-recipe-title,
.recipe-card-title,
.welcome-pantry-title,
.pantry-title {
  pointer-events: none;
  font-weight: 600;
  text-align: center;
}

.header-image {
  width: 80%;
  margin: 70px auto 0px auto;
  display: block;
}

.featured-recipes-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-card-image {
  object-fit: cover;
  pointer-events: none;
  width: 100%;
}

.recipe-card {
  background-color: #dae4e6;
  display: inline-block;
  height: 300px;
  margin: 20px;
  position: relative;
  width: 25%;
  cursor: pointer;
}

.recipe-card:hover {
  box-shadow: -4px 7px 20px 0px #b4b0b0;
}

/* recipe page ----- */

.recipe-page {
  margin: 100px;
}

.recipe-page-image {
  float: right;
  width: 50%;
}

/* icons */

/* .profile-icon {
  height: 30px;
  width: 30px;
} */

.unselected-heart,
.selected-heart,
.selected-chef-hat,
.unselected-chef-hat {
  height: 25px;
  position: absolute;
  width: 25px;
}

.selected-chef-hat,
.unselected-chef-hat {
  bottom: 15px;
  right: 15px;
}

.unselected-heart,
.selected-heart {
  bottom: 15px;
  left: 15px;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.pantry {
  margin-top: 150px;
}

.pantry-sub-header {
  text-align: center;
}

/* favorites */

.favorites {
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
}

.favorited-recipe-group,
.meal-plan-group{
  position: absolute;
  top: 20%;
  width: 80%;
  margin: 0 15%;
}

.all-recipes-group {
  top: 20%;
  width: 80%;
  margin: 0 15%;
}

.favorites-header,
.meal-plan-header {
  margin-left: 16%;
  margin-top: 100px;
  position: absolute;
}


/* all recipes page*/

.all-recipes-header {
  margin-top: 100px;
  margin-left: 10%;
}

.recipes-header {
  margin-left: 10%;
}

.filters {
  display: block;
  width: 80%;
  height: 225px;
  background-color: lightgrey;
  margin: 10px auto 0 auto;
  position: relative;
  border: 1px solid black;
}

.tags {
  padding-top: 1%;
  padding-left: 5%;
}

.ingredients {
  padding-left: 5%;
  padding-bottom: 1%;
}

.filter-button {
  background-color: #43A2FE;
  color: white;
  border-radius: 8px;
  position: absolute;
  right: 10%;
  bottom: 5%;
  width: 15%;
  height: 50px;
  font-size: 25px;
}
