* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Amiri', serif;
}

body, html {
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2855&q=80");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

nav {
  width: 100%;
  height: 10%;
  padding: 0px 10px 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d97c2b;
  opacity: .9;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 37px;
  cursor: pointer;
  pointer-events: auto;
}

h1:hover, .favorites:hover {
  color: #6f5107;
  transition: background-color .5s;
}

.nav-icons {
  width: 30%;
  margin: 0px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.favorites-btn {
  font-family: 'Dancing Script', cursive;
  pointer-events: auto;
  cursor: pointer;
}

.search input {
  font-size: 20px;
  pointer-events: auto;
}

.filter-meals {
  width: 90px;
  pointer-events: auto;

}

main {
  height: 620px;
}

.home-page {
  margin: auto;
  margin-top: 3%;
  width: 70%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-around;
  border-radius: 5px;
  pointer-events: auto;
}

.favorites-page {
  width: 70%;
  height: 100%;
  margin: auto;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-around;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  pointer-events: auto;
}

.meal-page {
  width: 70%;
  height: 100%;
  margin: auto;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  pointer-events: auto;
}

.meal-card {
  background-color: #a76c4340;
  border: 1px groove #dc845a5c;
  border-radius: 10px;
  height: auto;
  width: 26%;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}

.meal-card-picked {
  background-color: #a76c4340;
  border: 1px groove #dc845a5c;
  border-radius: 10px;
  height: 90%;
  width: 40%;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.card-title-container {
  padding: 0px 5px;
  display: flex;
  height: auto;
}

.card-title-container-picked {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}

.card-title {
  width: 100%;
  height: 15%;
  padding: 2px 2px;
}

.card-title-picked {
  font-size: 2em;
}

.food-img-container-picked {
  width: 100%;
  height: 62%;
  display: flex;
  flex-wrap: wrap;
  pointer-events: auto;
}

.food-img-container:hover .food-img {
  opacity: 0.3;
}

.food-img {
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.food-img-picked {
  width: 100%;
  height: 100%;
  pointer-events: auto;

}

.card-icon-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 9px;
}

.icon {
  width: 17%;
  pointer-events: auto;
}

.active {
  opacity: 0.9;
}

.inactive {
  opacity: 0.7;
}

.picked {
  justify-content: flex-start;
}

.meal-details-picked {
  border: 1px groove rgba(217, 124, 43, 0.3);
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.required-to-cook {
  border: 1px groove rgba(217, 124, 43, 0.3);
  width: 55%;
  display: grid;
  grid-auto-rows: 102px;
  justify-items: center;
  padding-top: 95px;
}

.required-title-box {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-style: italic;
  font-size: 19px;
}

.missing-ingredients {
  justify-content: center;
  display: flex;
  font-size: 25px;
}

.missing-list {
  font-size: 1em;
  list-style-type: circle;
}

.cooking-instructions {
  border: 1px groove rgba(217, 124, 43, 0.3);
  width: 100%;
}

/* hide effects + opacity remove effects */
.cook-ready {
  opacity: .3;
}

.hidden {
  display: none;
}
