body {
  background-color: #2c2d30;
  color: white;
}

h1 {
  text-align: center;
  font-size: 55px;
}

/* Tag box */
.tag-area {
  background-color: #35363a;
  height: 25vh;
  width: 78%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.tag-rows {
  /* background-color: #ffffff; */
  height: 85%;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag-row {
  height: 50%;
  width: 100%;
  
  border-radius: 15px;
  /* border: solid 2px white; */
  display: flex;
  justify-content: space-evenly;
}

.row-two {
  width: 90%;
}

.tag-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.tag-image {
  height: 4vh;
  width: auto;
}

.tag-image-bg {
  background-color: white;
  /* background-color: #F4E4BA; */
  /* background-color: #FFF07C; */
  /* background-color: #DCCCA3; */
  display: flex;
  justify-content: center;
  opacity: 0.4;
  border-radius: 15px;
  padding: 5px;
  transition: 0.2s;
}

.active-bg {
  opacity: 1;
  background-color: greenyellow;
  box-shadow: 2px 2px 10px greenyellow;
}

.tag-text {
  color: white;
  opacity: 0.4;
  margin-top: 4px;
  margin-bottom: 2px;
}

.tag-card:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.tag-card:hover .tag-image-bg {
  opacity:1;
  box-shadow: 2px 2px 10px whitesmoke;
}

.tag-card:hover .tag-text {
  opacity:1
}

/* Recipe grid */ 

.all-recipes {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recipe-grid {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.individual-recipe {
  background-color: #35363a;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  transition: 0.5s;
  border: 1px solid gray;
  position: relative;
}

.individual-recipe:hover .hover-card {
  animation: animate-hovercard 0.5s ease-in-out forwards;
}

.individual-recipe:hover {
  box-shadow: 2px 2px 20px whitesmoke;
  cursor: pointer;
}

.individual-recipe:hover img {
  transform: scale(0.97);
  filter: blur(8px);
}

.individual-recipe:hover h2 {
  filter: blur(1.5px);
}

.individual-recipe:hover h3 {
  animation: fade-in 0.5s ease-in forwards;
}

.recipe-image-div {
  max-width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.recipe-image {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  transition: 0.5s;
}

.hover-card {
  height: 0%;
  width: 85%;
  position: absolute;
  background-color: #ffffff;
  border-radius: 15px;
  opacity: 0.4;
  color: #2c2d30;
  font-size: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

h2 {
  font-size: 20px;
  font-weight: 200;
  transition: 0.5s;
  text-align: center;
  margin-left: 3px;
  margin-right: 3px;
}

h3 {
  visibility: hidden;
  opacity: 0;
}

@keyframes animate-hovercard {
  0% {
    height: 0%;
  }
  100% {
    height: 35%
  }
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  30% {
    visibility: hidden;
    opacity: 0;
  }
  60% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

