/* colors:
 red = rgb(150, 53, 35) 
 brown =  rgb(87, 36, 31);
 green = rgb(156,126,68)
 beige = rgb(255, 227, 171)
 light green = rgb(146,146, 112)
 */

/* font-family: 'Abril Fatface', cursive;
 font-family: 'Playball', cursive;
 font-family: 'Playfair Display', serif; */

body {
  font-family: "Playfair Display", serif;
  background-image: url("./images/paper.png");
}

button {
  cursor: pointer;
  height: 5vh;
  width: 10vw;
  font-size: 1vw;
  background-color: rgb(255, 227, 171);
  border: solid rgb(150, 53, 35);
  border-radius: 5%;
  color: rgb(87, 36, 31);
  margin-top: 1%;
  margin-bottom: 1%;
}

input,
select {
  height: 4vh;
  width: 20vw;
  font-size: 1.5vw;
}
/* Navagation display */
nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  border: solid rgb(146, 146, 112);
  background-color: rgb(156, 126, 68);
}

/* .welcome-wrapper {
   margin-left: 30px;
   display: flex;
   justify-content: center;
   font-size: 10pt;
 } */

/* .user-wrapper {
   margin-left: 8px;
 } */

/* .welcome-wrapper and .user-wrapper are commented out because Courtney commented out those two associated HTML elements for now. We can add this back in if we decide to use the Welcome: User on our homepage. */

.nav-btns-wrapper {
  width: 100vw;
  margin: 1vw;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.current-page-button {
  background-color: rgb(150, 53, 35);
  color: rgb(255, 227, 171);
  border-color: rgb(255, 227, 171);
}

/* HomePage */

#title {
  align-self: flex-start;
  font-size: 15vh;
  font-family: "Abril Fatface", cursive;
  width: 80vw;
  margin-top: 1%;
  margin-left: 3%;
  color: rgb(255, 227, 171);
  letter-spacing: 8px;
  text-shadow: -3px 3px 0 rgb(87, 36, 31), 3px 3px 0 rgb(87, 36, 31),
    3px -3px 0 rgb(87, 36, 31), -3px -3px 0 rgb(87, 36, 31);
}

.home-background {
  background-image: url("/src/images/Asset12.png");
  background-position-x: left;
  background-size: 180%;
}

.homepage-area {
  display: flex;
  flex-direction: column;
  height: 91vh;
  background-image: url("./images/Asset1.png");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: bottom;
  background-size: 65vh;
}

/* About Page section */

.about-page {
  display: flex;
  flex-direction: column;
  margin: 3%;
  background-image: url(/src/images/turing-logo.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 10%;
}

.about-paragraph {
  display: flex;
  justify-content: center;
  border: 2px solid rgb(150, 53, 35);
  background-color: rgb(255, 227, 171);
}

#about {
  width: 120vw;
  text-align: center;
  font-size: 120%;
  padding: 0.5%;
  color: rgb(87, 36, 31);
}

.authors {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-evenly;
  margin-top: 1%;
}

.profile {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
}

.profile-picture {
  height: 13vh;
  width: 7vw;
  border-radius: 50%;
  border: 2px solid black;
}

.github {
  margin-left: 2%;
  margin-top: 3%;
  font-size: 150%;
  color: rgb(87, 36, 31);
}
/*  Specific Recipe  section  */
.specific-recipe-img {
  width: 20vw;
  padding: 3%;
  margin-top: 5%;
  margin-left: 12%;
  background-color: rgb(156, 126, 68);
}

.specific-recipe-info {
  margin-left: 5%;
  color: rgb(87, 36, 31);
}

.specific-recipe-heading {
  font-family: "Abril Fatface", cursive;
  margin-left: 3%;
  margin-bottom: 1%;
  color: rgb(87, 36, 31);
}

.save-button {
  margin-top: 1%;
  margin-left: 3%;
  margin-bottom: 1%;
}

.specific-recipe-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* ~~~ All Recipe/Saved Pages CSS ~~~ */
.all-recipes-main {
  background-image: url(/src/images/Asset9.png);
  height: 100vh;
}

.page-title {
  font-family: "Playball", cursive;
  font-size: 5vw;
  color: rgb(87, 36, 31);
  text-shadow: -1px 1px 0 rgb(150, 53, 35), 1px 1px 0 rgb(150, 53, 35),
    1px -1px 0 rgb(150, 53, 35), -1px -1px 0 rgb(150, 53, 35);
  margin-left: 2%;
}

.display-thumbnails-filter-dropdown {
  display: flex;
  justify-content: space-between;
}

.all-recipe-thumbnails {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.single-recipe-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  background-color: rgb(255, 227, 171);
  color: rgb(87, 36, 31);
  border: solid 2px rgb(156, 126, 68);
}

.single-recipe-img {
  width: 17vw;
  height: 15vw;
  cursor: pointer;
}

.single-recipe-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14vw;
  text-align: center;
}

.delete-recipe {
  cursor: pointer;
}

.error-message {
  font-size: 150%;
  margin-left: 5%;
  margin-top: -2%;
  width: 30vw;
  background-color: rgb(255, 227, 171);
  border: solid 2px rgb(150, 53, 35);
  padding: 5%;
}

.recipe-title-text {
  font-size: 1vw;
  cursor: pointer;
}

.filter-by-tag-display {
  margin-left: 5vw;
  margin-right: 5vw;
  cursor: pointer;
  width: max-content;
}

.label-for-select-a-tag {
  white-space: nowrap;
  font-size: 1.5vw;
  margin-bottom: 1vh;
}

.list-of-tag-options {
  cursor: pointer;
}

/* ~~End All/Saved Recipes CSS ~~ */
.hide {
  display: none;
}
