.hidden {
  visibility: hidden !important;
}

html,
body {
  padding: 0;
  margin: 0;
  max-height: 100vh;
}

html {
  /* background-image: url("./images/white-watercolor-papar-texture-background-cover-card-design-overlay-paint-art-background_1962-2474.avif"); */
  background-color: #fefaf7;
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr;
  gap: 10px;

  color: #2d2b2b;
}

header {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;

  font-family: "Gatile";

  .header-nav {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
  .cookbook,
  .saved-recipes {
    background-color: #d39738;
    color: white;
    font-family: sans-serif;
    border-radius: 4px;
    border: none;
    height: 50px;
    width: 200px;
    font-size: 20px;
  }

  .logo {
    font-size: 60px;
  }
}

nav.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  top: 100px;
  position: sticky;
  height: 500px;
  background-color: #fff3e0;
  border-radius: 4px;
  padding: 10px;

  .filter-settings {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .search-box {
    border: none;
    border-radius: 4px;
    height: 30px;
  }
}

/* CODE FOR COOKBOOK OR SAVED RECIPES PAGE */
main#directory-page {
  background-color: #fff3e0;

  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: scroll;
  border-radius: 4px;
}

.recipe-card {
  display: grid;
  grid-template-columns: 3fr 4fr;

  height: 200px;
  padding: 10px;

  img {
    width: 100%;
  }

  .recipe-info {
    margin-left: 25px;
  }

  .recipe-name {
    font-family: "Gatile";
  }

  .recipe-ingredients,
  .recipe-tags {
    color: #9d968b;
    font-weight: 100;
  }

  .recipe-tags {
    font-size: 15px;
  }

  .label {
    font-weight: bold;
  }

  .tags-and-heart {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .heart {
    height: 35px;
    width: 35px;
  }

  .recipe-image {
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.tag,
.random-recipe {
  font-family: sans-serif;
  background-color: grey;
  color: #2d2b2b;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s;
}

.sentinel {
  position: relative;
  height: 1px;
}

.tag-active {
  background-color: #d39738;
}

.tag-inactive {
  opacity: 0.2;
}

/* CODE FOR INDIVIDUAL RECIPE PAGE */
main#recipe-page {
  display: flex;
  justify-content: center;

  .recipe-container {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 300px 1fr;
    gap: 50px;

    width: 1000px;
  }

  .gatile {
    font-family: "Gatile";
  }

  .recipe-main {
    position: relative;
    grid-column: 1/-1;

    .title-container {
      position: absolute;
      top: 50px;

      max-width: 750px;
      overflow: hidden;

      .title {
        font-size: 5rem;

        padding: 10px;
        background-color: #fff3e0;
        display: inline;
      }
    }
  }

  .image-container {
    height: 100%;
    overflow: hidden;
    border-radius: 15px;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .instructions {
    h1 {
      font-family: "Gatile";
      text-align: center;
    }
    ol {
      list-style: none;
      counter-reset: item;
    }
    li {
      padding-left: 25px;
      margin-top: 20px;
    }
  }

  .ingredients-container {
    background-color: #fff2e1;
    padding: 20px;

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;

        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
      }
    }

    .ingredient-name {
      max-width: 75%;
    }

    .ingredient-amount {
      color: rgb(150, 150, 150);
    }
  }
}
